
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#quote-box{
  display: block;
  border-radius: 10px;
  margin:150px;
  background-color: white;
  height: auto;
  width: 700px;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 320px;
}

#text{
  color: #282c34;
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style:oblique;
}

#author{
  color: #282c34;
  font-size: 23px;
  text-align: right;
  margin: 25px;
}

#new-quote{
  font-size: 16px;
  border-radius: 0;
  color: white;
  background-color: #282c34;
  border-color: #282c34;
  height: 50px;
  margin:25px;
  display: inline-block;
  justify-content: end; /* Aligns grid items to the right */
  align-items: center; /* Optional: Center vertically */
  margin-left: 450px;
  padding: 15px;
  cursor: pointer;
}
#new-quote:hover,
#new-quote:focus {
  background-color: #041324d6;
}

#tweet-quote img {
  width: 70px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  opacity: 1;
  display: inline-block;
  justify-content: end; 
  align-items: center;
  vertical-align: middle;

}

#tweet-quote img:hover {
  transition: opacity 0.3s ease; /* Smooth transition for opacity changes */
}
